# FORBES: Highest Paid Athletes in the World

## 1. Biblioteca

In [7]:
# Importando os bibliotecas

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from datetime import datetime

## 2. Análise Exploratória

In [10]:
# Importando o Dataset
df_forbes = pd.read_csv('~/Documents/estudos/data-science/projetos/EDA_highest_paid_athletes/Data/Forbes Richest Atheletes (Forbes Richest Athletes 1990-2020).csv')

In [12]:
df_forbes.head()

,S.NO,Name,Nationality,Current Rank,Previous Year Rank,Sport,Year,earnings ($ million)
0,1,Mike Tyson,USA,1,NaN,boxing,1990,28.6
1,2,Buster Douglas,USA,2,NaN,boxing,1990,26.0
2,3,Sugar Ray Leonard,USA,3,NaN,boxing,1990,13.0
3,4,Ayrton Senna,Brazil,4,NaN,auto racing,1990,10.0
4,5,Alain Prost,France,5,NaN,auto racing,1990,9.0

In [17]:
# Criando uma cópia do dataframe original - "df_forbes"
df_forbes_mod = df_forbes.copy()
# Verificando o número de observações e variáveis
n_observ, n_variab = df_forbes_mod.shape
print(f'Número de observações: {n_observ} \nNúmero de variáveis: {n_variab}')

Número de observações: 301
Número de variáveis: 8